
[filter]
  pattern = ["1:2525017", "1:10000001", "1:2525016"]

[geoip]
  geodb = "./GeoLite2-City.mmdb"

[ip2asn]
  # https://iptoasn.com/data/ip2asn-v6.tsv.gz
  # https://iptoasn.com/data/ip2asn-v4.tsv.gz
  # https://iptoasn.com/data/ip2asn-combined.tsv.gz 
  db = "./ip2asn-combined.tsv.gz"

[logger]

  [logger.layout]
  
    format ="[%d] %s - %s %s -> %s - %s - %s - sid:%d gid:%d (%d %s %s)"
    fields = [
        "priority",
        "time",
        "protocol",
        "source",
        "destination",
        "class",
        "msg",
        "sid",
        "gid",
        "asnnumber",
        "asncountry",
        "asndescription",
    ]

[mail]
  server = "127.0.0.1:25"

  [mail.from]
    address = "snort@localhost"
    name = "snort"

  [mail.to]
    address = "root@localhost"
    name = "root"

[reader]
  fileprefix = "snort.u2"
  path = "/var/log/snort"

[sidmap]
  maps = ["/etc/snort/sid-msg.map"]

[slack]
  channel = "ids"
  token = ""

[pushover]
  app = "API Token"
  user = "Your User Key"

